input[type="button"], button {
    cursor: pointer;
}

a.link, a:visited {
    color: rgb(11, 92, 255);
    text-decoration: underline;
}

a.error { 
    color: red;
    text-decoration: solid;
}

a.good {
    color: rgb(0, 150, 43);
    text-decoration: solid;
}

button.img {
    background: none;
    border: none;
}